.buttonLogin {
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-border-color: #0D134B;
    -fx-border-radius: 7;
    -fx-text-fill: #0D134B;
}

.buttonLogin:hover {
    -fx-background-color: #0D134B;
    -fx-text-fill: white;
}

.sidebar {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.link:hover {
    -fx-background-color: #00CBF9;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.menu-button-selected {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: blue;
    -fx-font-size: 14px;
}

.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.field-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.primary-button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

/* .anchor-pane */
.anchor-pane {
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

/* .search-field */
.search-field {
    -fx-text-fill: #000000; /* Black text color */
    -fx-font-size: 16px; /* Font size for the text */
    -fx-padding: 10px; /* Padding inside the text field */
}

/* .search-button */
.search-button {
    -fx-background-color: white;
    -fx-font-size: 16px; /* Font size for the text */
    -fx-padding: 10px; /* Padding inside the button */
    -fx-border-color: #0D134B;
    -fx-border-width: 2;
}

.search-button:hover {
    -fx-background-color: #00CBF9;
    -fx-border-color: transparent;
}

/* .hyperlink */
.hyperlink {
    -fx-text-fill: #0d134b; /* Dark blue text */
    -fx-underline: false; /* No underline for a cleaner look */
    -fx-padding: 10px; /* Padding around the text */
    -fx-font-size: 22px; /* Slightly larger font size */
    -fx-font-weight: bold; /* Bold text for emphasis */
}

.hyperlink:hover {
    -fx-text-fill: #00CBF9;
    -fx-border-width: 2;
    -fx-border-color: #00CBF9;
}

/* .password-field */
.password-field {
    -fx-border-color: #0D134B;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-color: transparent;
    -fx-text-fill: #0D134B;
}

/* .text-field */
.text-field {
    -fx-border-color: #0D134B;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-color: transparent;
    -fx-text-fill: #0D134B;
}

/* .password-field:hover */
.password-field:hover {
    -fx-border-color: #00CBF9;
}

/* .text-field:focused */
.text-field:focused {
    -fx-border-color: #00CBF9; /* Border color when focused */
}

/* .label */
.label {
    -fx-text-fill: #0D134B;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
}

/* Styles for the ScrollPane */
.custom-scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0;
}

.custom-scroll-pane .scroll-bar:vertical {
    -fx-background-color: #FFFFFF;
}

.custom-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #0D134B;
    -fx-background-radius: 10;
}

.product-table {
    -fx-background-color: #FFFFFF;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 10;
}

/* Styles for the table columns */
.product-table .column-header .label {
    -fx-background-color: white;
    -fx-alignment: CENTER;
    -fx-padding: 10;
    -fx-font-size: 20px;
    -fx-border-color: #B5B7C0;
    -fx-border-width: 0 0 1px 0;
    -fx-text-fill: #87888C;
}

.product-table .column-header {
    -fx-background-color: white;
    -fx-alignment: CENTER;
    -fx-padding: 10;
    -fx-border-color: #B5B7C0;
    -fx-border-width: 0 0 1px 0;
}

/* Styles for the table cells */
.product-table .table-cell {

    -fx-padding: 15;
    -fx-alignment: CENTER;
    -fx-text-fill: #0D134B;      
    -fx-font-size: 14px;
}

/* Style for the add product button */
.add-product-button {
    -fx-background-color: #00CBF9;
    -fx-text-fill: white;
    -fx-font-size: 21px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
}


.add-product-button2 {
    -fx-background-color: #0D134B;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding : 10 30 10 30;
}

.add-product-button:hover {
    -fx-background-color: #0D134B;
}

.add-product-button2:hover {
    -fx-background-color: #00CBF9;
}


.checkboxRole {
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.checkboxRole .box {
    -fx-background-color: #eee;
    -fx-background-radius: 50%; 
    -fx-border-radius: 50%;
    -fx-border-color: #0D134B;
    -fx-border-width: 2px;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-alignment: center;
}

.checkboxRole:selected .box {
    -fx-background-color: #00CBF9;
    -fx-border-color: #00CBF9;
}

.checkboxRole:hover .box {
    -fx-background-color: #ccc;
}

.checkboxRole .text {
    -fx-text-fill: #0D134B; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-weight: bold; /* Font weight */
    -fx-padding: 0 0 0 10px; /* Padding between the box and the label text */
}

.checkboxRole:selected .text {
    -fx-text-fill: #00CBF9; 
}

#productImage {
    -fx-fit-width: 200;
    -fx-fit-height: 200;
    -fx-preserve-ratio: true;
    -fx-layout-x: 100;
    -fx-layout-y: 50;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.updateButton {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-border-color: transparent;
    -fx-graphic: url('../images/Edit.png');
    -fx-graphic-position: center;
    -fx-cursor: hand;
    -fx-alignment: center;
}


.deleteButton {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-border-color: transparent;
    -fx-graphic: url('../images/deleteIcon.png');
    -fx-graphic-position: center;
    -fx-cursor: hand;
    -fx-alignment: center;

}

.updateButton:hover,
.deleteButton:hover {
  -fx-scale-x:1.2;
  -fx-scale-y:1.2;

}


/*category in home page*/
.categorisation{
-fx-background-color: white;
 -fx-background-radius: 15;
 -fx-alignment:center;
 -fx-text-fill: #0d134b;
}
.categorisation:hover{
  -fx-background-color:#00CBF9;
  -fx-text-fill:white;
  -fx-background-radius: 15;
    -fx-border-radius: 15;
}